/* Global */
body {
  margin: 0;
  background-color: #020E08;
  color: #E0E1DD;
}

/* Header */
header {
  background-color: black;
  position: sticky;
  top: 0px;
}

.topBar {
  display: flex;
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}

.logoContainer {
  height: 2rem;
  width: 10rem;
  overflow: hidden;
}

.logoContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Profile blob */
.profile {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #1B263B;
}

.profile > span {
  font-size: 2rem;
}

.bigProfilePicture {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.bigProfilePicture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Post grid and posts */
.postGrid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-gap: 10px;
  max-width: 1000px;
  margin: auto;
}

.post {
  background-color: #1B263B;
}

.postHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.profilePictureContainer {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.profilePictureContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userName {
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
}

.caption {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.imageContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.postFooter {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
}

.postFooter > button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

.postFooter > span {
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
}